__pycache__/
code/experiments/
code/pretrain_models/

# out
*.out

# Data
*.mat
*.svg

code/__test.py
code/compress_.py
code/train_cifar_hvd.py

# LaTex
LaTex/*.aux
LaTex/*.bbl
LaTex/*.blg
LaTex/*.idx
LaTex/*.ind
LaTex/*.lof
LaTex/*.lot
LaTex/*.out
LaTex/*.toc
LaTex/*.acn
LaTex/*.acr
LaTex/*.alg
LaTex/*.glg
LaTex/*.glo
LaTex/*.gls
LaTex/*.ist
LaTex/*.fls
LaTex/*.log
LaTex/*.fdb_latexmk
LaTex/*.bcf
LaTex/*.run.xml
LaTex/*.synctex.gz
LaTex/*-blx.bib

LaTex/doc/
LaTex/images/internal/
